body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: white;
  position: fixed;
  z-index: 1;  
}

.links-item a:link, .links-item a:visited  {
  color: black;
  text-decoration: none;
}

.links-item a:hover {
  border-bottom: 3px solid black;
  font-weight: 700;
}

.links-list, .links-item {
  display: inline-block;
}

.links-list {
  margin-left: 240px;
}

.links-item {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  text-align: center;
  width: 103px;
}

.mini-data {
  display: none;
  margin: 10px 40px 10px;
  position: fixed;
}

.mini-data-photo {
  border-radius: 50%;
  vertical-align: middle;
}

.mini-data-name {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 40px;
  vertical-align: middle; 
}

.main-photo {
  border-radius: 50%;
  margin-left: 20px;
  position: relative;
  z-index: 2;
}

.main-content {
  padding-top: 40px;
}
