.about-container {
  background-color: #fafafa;
  display: flex;
  margin: auto;
  width: 70%;
}

.about-container-text {
  margin: auto;
  width: 60%;
}

.about-container-stacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.about-container-text img {
  height: 100px;
  margin: 50px auto 80px;
}

.about-container-text h3 {
  color: #d89229;
  font-size: 44px;
  padding-top: 50px;
}

.about-container-text h5 {
  font-size: 24px;
  margin: 20px 0;
}

.about-container-text p {
  font-size: 18px;
  margin: 20px 0;
}

.about-photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px auto 100px;
  width: 50%;
}

.about-photo {
  border: 5px solid #e5e5e55d;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
  margin: 10px;
  width: 150px;
}

.carousel-photo {
  border: 5px solid #e5e5e55d;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
  display: none;
  margin: 20px auto;
  width: 250px;
}

@media screen and ( max-width : 682px ) {

  .carousel-photo {
    display: block;
  }

  .about-photo-container {
    display: none;
  }

  .about-container {
    width: 90%;
  }

  .about-container-text {
    text-align: justify;
    width: 80%;
  }
}
