.contact-container {
  font-size: 25px;
  margin: 100px auto 300px;
  text-align: center;
  width: 95%;
}

span {
  font-weight: 700;
}

.image-contact {
  height: 50px;
  margin-right: 20px;
}

.contact-div {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 20px;
  width: 50%;
}

.contact-container h3 {
  color: #d89229;
  font-size: 44px;
  margin-bottom: 100px;
  padding-top: 50px;
}

.contact-link {
  color: black;
  font-family: Roboto , sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.contact-link:hover {
  color: #d89229;
  text-decoration: none;
}
