.navbar-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px auto 20px;
  width: 70%;
}

.navbar-header {
  align-items: center;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.navbar-header:hover {
  opacity: 0.8;
  text-decoration: none;
}

.navbar-image {
  border-radius: 50%;
  height: 50px;
}

.navbar-title {
  color: black;
  margin-left: 10px;
  margin-top: 10px;
}

.navbar-link {
  color: black;
  font-family: Roboto , sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.navbar-link:hover {
  color: #d89229;
  text-decoration: none;
}

.navbar-link-button {
  background-color: #d89229;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 25px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 200px;
}

.navbar-link-button:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.navbar-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
}

@media screen and ( max-width : 1136px ) {

  .navbar-content {
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

}

@media screen and ( max-width : 600px ) {

  .navbar-links {
    justify-content: center;
    padding-top: 20px;
    width: 95%;
  }

  .navbar-link-button {
    margin-top: 20px;
  }

  .navbar-link {
    margin: 0 10px;
  }
}
