.projects-container {
  background-color: #fafafa;
  margin: auto;
  width: 70%;
}

.projects-text {
  margin: auto;
  width: 60%;
}

.projects-text h3 {
  color: #d89229;
  font-size: 44px;
  margin-bottom: 30px;
  padding-top: 50px;
}

.projects-text p {
  font-size: 20px;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
}

.main-project-card {
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  margin: 10px;
  width: 400px;
}

.main-project-info {
  align-content: space-between;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 90%;
}

.main-project-buttons {
  margin: 0 auto;
}

.main-project-info h3 {
  color: gray;
  font-family: Roboto , sans-serif;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 20px;
}

.main-project-info p {
  font-size: 12px;
  margin-bottom: 15px;
}

.main-project-stacks-container {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
}

.main-project-stack {
  background-color: #d89229;
  border-radius: 5px;
  color: white;
  margin: 5px;
  padding: 0 5px;
}

.main-project-image img {
  width: 100%;
}

.project-card {
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 10px;
  width: 300px;
}

.project-image {
  border-radius: 5px;
  height: 25%;
  overflow: hidden;

}

.project-info {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

.project-info h3 {
  color: gray;
  font-family: Roboto , sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 5px;
}

.project-info p {
  font-size: 12px;
  margin-bottom: 2px;
}

.project-image img {
  width: 100%;
}

.project-button {
  align-self: center;
  background-color: #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  color: black;
  display: block;
  font-family: Roboto , sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 25px;
  line-height: 25px;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 150px;
}

.project-button:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.project-button img {
  height: 20px;
  margin-right: 10px;
  transition: 0.3s;
}

.project-button:hover img {
  filter: invert(100%);
}

@media screen and ( max-width : 682px ) {

  .projects-container {
    margin-top: 30px;
    width: 90%;
  }

  .projects-text {
    text-align: justify;
    width: 80%;
  }
}

@media screen and ( max-width : 450px ) {

  .main-project-card {
    height: 500px;
  }
}
